# Python 缓存文件
**/__pycache__/
*.pyc
*.pyo
*.pyd
.env


# Django 运行日志或临时文件
db.sqlite3
*.log
*.json

# 缓存配置文件
MarsCodeWorkspaceAppSettings.xml

# 强行忽略任何叫 nul 的文件或文件夹
**/nul
**/NUL
**/media/

# Worktrees directory
.worktrees/

#settings untrack
Overlord/settings.py