{% extends 'base/base_r.html' %}

{% block sidebar %}
    <ul class="sidebar-menu">
        <li class="sidebar-item">
            <a href="{% url 'theme:theme_product_list' %}"
               class="sidebar-link {% if active_page == 'theme_product_list' %}active{% endif %}">
                <i class="fas fa-store sidebar-icon"></i>
                <span>亚马逊最新主题</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'aba:aba_data' %}"
               class="sidebar-link {% if active_page == 'aba_data' %}active{% endif %}">
                <i class="fas fa-fire sidebar-icon"></i>
                <span>亚马逊最热主题</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="{% url 'theme:theme_new_release_page' %}"
               class="sidebar-link {% if active_page == 'theme_new_release_page' %}active{% endif %}">
                <i class="fas fa-bolt sidebar-icon"></i>
                <span>亚马逊最新成交主题</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="{% url 'aba:aba_noise_words' %}"
               class="sidebar-link {% if active_page == 'aba_noise_words' %}active{% endif %}">
                <i class="fas fa-filter sidebar-icon"></i>
                <span>ABA去噪词表</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'theme:trend_page' %}"
               class="sidebar-link {% if active_page == 'trend_page' %}active{% endif %}">
                <i class="fas fa-search sidebar-icon"></i>
                <span>侵权词判断</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'theme:tro_table_page' %}"
               class="sidebar-link {% if active_page == 'tro_table_page' %}active{% endif %}">
                <i class="fas fa-gavel sidebar-icon"></i>
                <span>侵权词库</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'theme:trademark_info_page' %}"
               class="sidebar-link {% if active_page == 'trademark_info_page' %}active{% endif %}">
                <i class="fas fa-registered sidebar-icon"></i>
                <span>美标网词库</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'theme:dw_data_page' %}"
               class="sidebar-link {% if active_page == 'dw_data' %}active{% endif %}">
                <i class="fas fa-industry sidebar-icon"></i>
                <span>迪唯产业大数据</span>
            </a>
        </li>
    </ul>
{% endblock %}
